html,
body {
    font-family: "Montserrat", -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 10px;
    margin: 0;

    @font-face {
        font-family: "Montserrat";
        src: local("Montserrat"), url("./fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
        font-weight: 700;
    }

    @font-face {
        font-family: "Montserrat";
        src: local("Montserrat"), url("./fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
        font-weight: 600;
    }

    @font-face {
        font-family: "Montserrat";
        src: local("Montserrat"), url("./fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
        font-weight: 500;
    }

    /* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap"); */
}
